node_modules/
dist/

android/.gradle/
android/build/
android/app/build/
android/local.properties
android/keystore.properties
android/*.jks
android/*.keystore

ios/DerivedData/
ios/build/
ios/App/build/

*.apk
*.aab
*.ipa
